<MainBody @nonhis={{true}}>
    <div class="history">
    <h3>The history for the present session</h3>
    <Clear/>
    <div id="ans">

    {{#each @model as |cal|}}
        <p>{{cal.total}} ==> {{cal.result}}</p>
    {{/each}}
    </div>

    <button type="button" {{on "click" this.demo}}>click me to alert</button>
</div>
</MainBody>