<MainBody>
    <div id="main"><LinkTo @route="calci"> Start Calculating...</LinkTo></div>
    <div id="main-img">
    <img src="/Images/calculators.png" alt="Calculator_image" height="400">
    </div>
</MainBody>